<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dormmom.flutter_twilio_voice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />


    <application android:name="com.dormmom.flutter_twilio_voice.App">

        <activity
            android:name="com.dormmom.flutter_twilio_voice.BackgroundCallJavaActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:taskAffinity=".BackgroundCallJavaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:turnScreenOn="true">

            <intent-filter>
                <action android:name="background-activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <service
            android:name="com.dormmom.flutter_twilio_voice.IncomingCallNotificationService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>


</manifest>
